/cs 188 - artificial intelligence/review material/review questions.aux
/cs 188 - artificial intelligence/review material/review questions.log
/cs 188 - artificial intelligence/review material/review questions.synctex.gz